@model IEnumerable<MedicinaRegenerativa.Models.Turnos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String fechaHoy = DateTime.Now.ToString("yyyy/MM/dd");
}
@section Scripts {
    @Scripts.Render("~/bundles/bootstrapDateTimePicker")
    @Scripts.Render("~/bundles/jqueryval")
}
@Styles.Render("~/Content/cssFechas")
<h2>Listado de Turnos</h2>
@using (Html.BeginForm("CreateNuevo", "Turnos"))
{
<p>
    @*@Html.ActionLink("Crear Nuevo", "Create", new { fecha = "2017/11/15" })*@
    
    @Html.Hidden("fechaBusqueda", fechaHoy)
    <input type="submit" value="Crear Nuevo" class="btn btn-default" />
</p>
}
<section id="FiltrosTurnos">
    
        <div class="form-horizontal">
            <h4>Filtros</h4>
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="datetimepicker12"></div>
                        </div>
                    </div>
                </div>
                
                
                <script type="text/javascript">
                    function parseJsonDate(jsonDateString) {
                        var currentTime = new Date(parseInt(jsonDateString.replace('/Date(', '')))
                        var month = currentTime.getMonth() + 1
                        var day = currentTime.getDate()
                        var year = currentTime.getFullYear()
                        var date = day + "/" + month + "/" + year
                        return date
                        //return new Date(parseInt(jsonDateString.replace('/Date(', '')));

                    }
                    $(function () {
                        $('#datetimepicker12').datetimepicker({
                            /*calendarWeeks: true,*/
                            format: 'L',                            
                            inline: true,                            
                            sideBySide: true
                        });
                        /*.on('dp.show', function () {
                            $('a.btn[data-action="incrementMinutes"], a.btn[data-action="decrementMinutes"]').removeAttr('data-action').attr('disabled', true);
                            $('span.timepicker-minute[data-action="showMinutes"]').removeAttr('data-action').attr('disabled', true).text('00');
                        });                      */
                        $('#datetimepicker12').on('dp.change', function (e) {                           
                            var formatedValue = [e.date.format('YYYY/MM/DD')];//[e.date.format(e.date._f)];//e.date.format(e.date._f);
                            console.log(formatedValue);
                            $('#fechaBusqueda').val(formatedValue);
                            var fecha = // JSON.stringify(formatedValue);
                            $.ajax({
                                url: '@Url.Action("buscarXFecha")', // to get the right path to controller from TableRoutes of Asp.Net MVC
                                dataType: "json", //to work with json format
                                type: "POST", //to do a post request 
                                contentType: 'application/json; charset=utf-8', //define a contentType of your request
                                cache: false, //avoid caching results
                                data:  JSON.stringify(formatedValue) ,
                                success: function (data) {
                                    // data is your result from controller
                                    if (data.success) {

                                        
                                        var html = '<table class="table"><tr><th>Fecha</th><th>Hora</th><th>Tiempo Reservado</th><th>Observaciones</th><th>Nombre Completo</th><th>Tipo de Turno</th><th></th></tr>';
                                        $.each(data.turnos, function (key, value) {
                                            
                                            html += '<tr><td>' + parseJsonDate(data.turnos[key].Fecha) + '</td><td>' + data.turnos[key].Hora + '</td><td>' + data.turnos[key].TiempoReserva + '</td><td>' + data.turnos[key].Observaciones + '</td><td>' + data.turnos[key].Paciente + '</td><td>' + data.turnos[key].TipoTurno + '</td><td><a href="/Turnos/Edit/' + data.turnos[key].Id + '">Editar</a> |<a href="/Turnos/Details/' + data.turnos[key].Id + '">Detalles</a> |<a href="/Turnos/Delete/' + data.turnos[key].Id + '">Borrar</a></td></tr>';
                                        });
                                        html += '</table>';
                                        $('#Grilla').html(html);

                                    }
                                },
                                error: function (xhr) {
                                    alert('error');
                                }
                            });
                        })
                    });
                    

                </script>
            </div>
        </div>
    
</section>
<article id="Grilla">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoReservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaCarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTurnos.Descripcion)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoReservado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.FechaCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTurnos.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idTurno }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idTurno }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.idTurno })
                </td>
            </tr>
        }

    </table>
</article>