@model IEnumerable<MedicinaRegenerativa.Models.Pacientes>
<table class="table" id="ListadoPacientes">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            Obra Social
        </th>
        <th>
            Numero Prepaga
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FechaCarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObrasSociales.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nroSocioObraSocial)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FechaCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idPaciente }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.idPaciente }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.idPaciente })
                @Html.ActionLink("Imprimir", "PdfPacientes", new { id = item.idPaciente })
            </td>
        </tr>
    }

</table>


