@model MedicinaRegenerativa.Models.Pacientes

@{
    
    var HistorialPaciente = Model.HistorialPacientes.ToList();
    IEnumerable<MedicinaRegenerativa.Models.HistorialPacientes> historial = HistorialPaciente;
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Pacientes</h2>

<div>
    <h4>Pacientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt>
            Obra Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObrasSociales.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nroSocioObraSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroSocioObraSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCarga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<hr />
<h3>historial del Paciente</h3>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Historia
        </th>
        <th>
            Medicación Recibida
        </th>                
        <th>
            Fecha del Turno
        </th>
        <th></th>
    </tr>

    @foreach (var item in historial)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Historia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicacionRecibida)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FechaCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turnos.Fecha)
            </td>
            <td>                
                @Html.ActionLink("Editar", "Edit", "HistorialPacientes", new { id = item.idHistorialPaciente }, new { turno = item.idPaciente }) |
                @Html.ActionLink("Detalle", "Details", "HistorialPacientes", new { id = item.idHistorialPaciente }, new { turno = item.idPaciente }) |
                @Html.ActionLink("Borrar", "Delete", "HistorialPacientes", new { id = item.idHistorialPaciente }, new { turno = item.idPaciente })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPaciente }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>

