@model IEnumerable<MedicinaRegenerativa.Models.Presupuestos>

@{
    ViewBag.Title = "Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Presupuestos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            Moneda
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCarga)
        </th>
        <th>
            Estado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.NombreCompleto)
        </th>
        <th>
            Tratamiento
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposMoneda.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuotas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadosPresupuestos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTurnos.Descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPresupuestos }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.idPresupuestos }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idPresupuestos })
        </td>
    </tr>
}

</table>
